@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
    --primary-color: #212121;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 56px;
    background-color: var(--primary-color);
}

.menu-and-logo-container {
    width: 200px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.menu-and-logo-container > a {
    margin-top: 4px;
}

.nav-menu {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    transition: background-color .5s ease-out, border .5s ease-out;
}

.nav-menu:active {
    background-color: #616161;
    border: 1px solid #616161;
}

.menu-svg {
    width: 27px;
    height: 27px;
}

.search-box {
    height: 100%;
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-box-focus-element {
    width: 40px;
    padding: 7.5px 0 7.5px 15px;
    background-color: #121212;
    height: 40px;
    border: 1px solid #1C62B9;
    border-right: none;
}

.transparent {
    opacity: 0;
}

.focus-svg {
    height: 25px;
    width: 25px;
}

.search-bar {
    height: 40px;
    width: 38%;
    padding: 3px;
    background-color: #121212;
    border: 1px solid #313131;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #888888;
}

.search-bar:focus {
    outline: none;
    border: 1px solid #1C62B9;
    border-left: none;
}

.search-button {
    cursor: pointer;
    position: relative;
    height: 40px;
    width: 64px;
    background-color: #313131;
    border: none;
}

.tooltipdiv {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 170%;
    left: 50%;
    margin-left: -20px;
    visibility: hidden;
    height: 40px;
    width: 40px;
    background-color: rgba(92, 92, 92, 0.85);
    font-size: 12px;
    color: #fff;
    text-align: center;
    border-radius: 4px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

.voice {
    width: 80px;
    margin-left: -40px;
}

.search-button:hover .tooltipdiv {
    visibility: visible;
}

.search-svg {
    height: 23px;
    width: 27px;
}

.voice-recognition {
    position: relative;
    width: 40px;
    height: 40px; 
    background-color: #121212;
    border-radius: 50%;
    margin-left: 8px;
    border: none;
    transition: background-color .5s, border 2s;
    cursor: pointer;
}

.voice-recognition:hover .tooltipdiv {
    visibility: visible;
}

.voice-recognition:active {
    background-color: #616161;
    border: 1px solid #616161;
}

.voice-svg {
    margin-top: 3px;
    height: 27px;
    width:27px;
}

.account-info {
    width: 225px;
    height: 40px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.create-video-button {
    position: relative;
    margin-right: 9px;
    height: 40px;
    width: 40px;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    transition: background-color .5s, border 2s;
    cursor: pointer;
}

.create-video-button:hover .tooltipdiv {
    visibility: visible;
}

.create-video-button:active {
    background-color: #616161;
    border: 1px solid #616161;
}

.video-svg {
    height: 23px;
    width: 28px;
}

.notification-button {
    position: relative;
    margin-right: 20px;
    height: 40px;
    width: 40px;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    transition: background-color .5s, border 2s;
    cursor: pointer;
}

.notification-button:hover .tooltipdiv {
    visibility: visible;
}

.notification-button:active {
    background-color: #616161;
    border: 1px solid #616161;
}

.notification-svg {
    height: 24px;
    width: 24px;
}


.nav-channel-button {
    margin-right: 45px;
    height: 32px;
    width: 32px;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
}

.avatar-nav {
    height: 32px;
    width: 32px;
    border-radius: 50%;
}